.div1{
    background-color: rgb(229, 118, 8);
    width: 750px;
    height: 500px;
    position: absolute;
    right: 300px;
    top:50px;
    border-radius:15px;
    display: flex;
}
.start{
    
    opacity:0.6 ;
    color: white;
    padding: 20px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 300px;
}
.your{
    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 200px;
    top: 40px;
}
.box1{
    background-color: aliceblue;
    height: 300px;
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 200px;
    border-radius: 15px;
    
}
.starter{
    text-align: center;
    color: orange;
    

}
.four{
    text-align: center;
    
    position: absolute;
    bottom: 142px;
    left:80px;
}
.bold{
    font-size: 30px;
    color: rgb(125, 14, 222);
}
.nosetup{
   position: absolute;
   right: 30px;
    opacity: 0.5;
    top: 135px;
}
.a1{
    position: absolute;
    right: 65px;
    bottom: 20px;
}
.emoji1{
   margin-left:80px ; 
   font-size:25px;
}
.box2{
    background-color: aliceblue;
    height: 300px;
    position: absolute;
    left:270px;
    width: 200px;
    border-radius: 15px;
    bottom: 40px;
    padding: 30px 0px 0px 0px;
}
.emoji2{
    margin-left:80px ; 
    font-size:25px;
 }
 .personal{
    text-align: center;
    color: orange;
 }
 .nine{
    text-align: center;
    position: absolute;
    bottom: 142px;
    left:80px;
 }
 .nosetup2{
    position: absolute;
    right: 30px;
     opacity: 0.5;
     top: 165px;
 }
 .a2{
    position: absolute;
    right: 42px;
    bottom: 10px;
    background-color: blue;
    color: aliceblue;
    padding: 10px 25px 10px 25px;
 }

 .box3{
    background-color: aliceblue;
    height: 300px;
    position: absolute;
    left: 510px;
    width: 200px;
    border-radius: 15px;
    bottom: 40px;

 }
 .emoji3{
    margin-left:80px ; 
    font-size:25px;

 }
 .Team{
    text-align: center;
    color: orange;

 }
 .two{
    text-align: center;
    position: absolute;
     bottom: 135px;
    left:70px;
 }
 .nosetup3{
    position: absolute;
    right: 30px;
     opacity: 0.5;
     top: 146px;
 }
 .a3{
    position: absolute;
    right: 65px;
    bottom: 20px;
 }
 .most{
    position:absolute;
    top: -16px;
    left: 48px;
    background-color: rgba(0, 55, 255, 0.995);
    opacity: 0.5;
    padding: 10px 10px 10px 10px;
    color: white;
    
   
 }

